  
body{color:black ;
     font-family:italic;
     background-color:#ECE5C7;
 margin-left:60px;
margin-right:60px;
 font-size: 30px;
}

header{background-color:#BEBEBE}
h4{ background-color:#BEBEBE}
h1{ text-decoration: underline}
div{background-color:#DFD7BF}